<div th:fragment="navigation">
    <aside class="sidebar" >
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
        <div class="side-inner">

            <div class="profile">
                <img src="/images/person_4.jpg" alt="Image" class="img-fluid">
                <h3 class="name">Hellen Nguyen</h3>
                <span class="country">Fpt Aptech</span>
            </div>

            <div class="nav-menu">
                <ul>
                    <li><a th:href="@{/admin}"><span class="fa fa-home mr-3"></span>Home</a></li>
                    <li><a th:href="@{/admin/users}"><span class="fas fa-users mr-3"></span>Users</a></li>
                    <li><a th:href="@{/admin/movies}"><span class="fas fa-film mr-3"></span>Movies</a></li>
                    <li><a th:href="@{/admin/rooms}"><span class="fa fa-couch mr-3"></span>Rooms</a></li>
                    <li><a th:href="@{/admin/showtimes}"><span class="far fa-calendar-alt mr-3"></span>Showtime</a></li>
                    <li><a th:href="@{/admin/bookings}"><span class="fa fa-money mr-3"></span>Booking</a></li>
                    <li><a th:href="@{/sign-out}"><span class="fa fa-sign-out mr-3"></span>Sign out</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <script type="text/javascript">
        $(function () {
            var curURL = window.location.href;
            $(".nav-menu ul li").filter(function (index) {
                var tag = $("a", this).attr("href");
                return curURL.includes(tag) && !tag.includes("/admin");
            }).addClass("active");
        });
    </script>
</div>
